.app{
  display: grid;
  place-items: center;
  height: 100vh;
  background-color: #dadbd3;
}
.app_body{
  display: flex;
  background-color: #ededed;
  height: 95vh;
  width: 95vw;
  box-shadow: 0 0 70px 10px grey;
}